<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää vaate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Lisää vaate</h1>
	<div>
		<form th:object="${vaate}" th:action="@{../tallenna}" action="#" method="post">
		<table>
		
		<tr>
		<td><label for="name">Nimi</label><td>
		<td><input type="text" id="name" th:field="*{name}"/><td>
		<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
		</tr>
		
		<tr>
		<td><label for="type">Tyyppi</label><td>
		<td><input type="text" id="type" th:field="*{type}" /><td>
		<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</td>
		</tr>
		
		<tr>
		<td><label for="price">Hinta</label><td>
		<td><input type="text" id="price" th:field="*{price}" /><td>
		<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Hinnan tulee olla positiivinen</td>
		</tr>
		
		<tr>
		<td><label for="deplist">Valmistaja</label><td>
		<td>
		<select id="deplist" th:field="*{valmistaja}" class="form-control">
				<option th:each="valmistaja: ${valmistajat}" th:value="${valmistaja.valmistajaid}" th:text=${valmistaja.name}></option>
		</select>
		<td>
		</tr>
		</table>
			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>