<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää valmistaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää valmistaja</h1>
	<div>
		<form th:object="${valmistaja}" th:action="@{../valmistajat/tallenna}" action="#" method="post">
		
		  	<label for="name">Valmistaja</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			

			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>