<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää vaate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää vaate</h1>
	<div>
		<form th:object="${vaate}" th:action="@{../tallenna}" action="#" method="post">
		
		  	<label for="name">Nimi</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="type">Tyyppi</label>
			<input type="text" id="type" th:field="*{type}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="price">Hinta</label>
			<input type="text" id="price" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="manufacturer">Valmistaja</label>
			<input type="text" id="manufacturer" th:field="*{manufacturer}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>