<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa valmistaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa valmistaja</h1>
	<div>
		<form th:object="${valmistaja}" th:action="@{../tallenna}" action="#" method="post">
		
		
		  	<label for="name">Valmistaja</label>
		  	<input type="hidden" id="id" th:field="*{valmistajaid}"/ class="form-control">
			<input type="text" id="name" th:field="*{name}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			

			<input type="submit" value="Tallenna" class="btn btn-primary"></input>
		</form>
	</div>
</body>
</html>