<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Valmistajat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1>Valmistajat</h1>
    <table class="table table-striped">
		<tr>
		    <th>Nimi</th>
		    <th></th>
		    <th></th>
		    <th></th>
		    
		</tr>  
    	<tr th:each = "valmistaja : ${valmistajat}">
    		<td th:text="${valmistaja.name}"></td>
    		<td><a th:href="@{/valmistajanvaatteet/{id}(id=${valmistaja.valmistajaid})}" class="btn btn-primary btn-sm">Vaatteet</a></td>
    		<td><a th:href="@{/valmistajat/muokkaa/{id}(id=${valmistaja.valmistajaid})}" class="btn btn-primary btn-sm">Muokkaa</a></td>
    		<td><a th:href="@{/valmistajat/poista/{id}(id=${valmistaja.valmistajaid})}" class="btn btn-danger btn-sm">Poista</a></td>
  		
    	</tr>
     </table>
    <div>
		<a href="/valmistajat/lisaa" class="btn btn-primary">Lisää valmistaja</a>

		<a href="/vaatteet" class="btn btn-primary">Vaatteet</a>
		
		<a href="/" class="btn btn-primary">Etusivu</a>
	</div>
</body>
</html>