<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Valmistajat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Valmistajat</h1>
    <table>
		<tr>
		    <th>Nimi</th>
		    <th></th>
		    
		</tr>  
    	<tr th:each = "valmistaja : ${valmistajat}">
    		<td th:text="${valmistaja.name}"></td>
    		<td><a th:href="@{/valmistajat/poista/{id}(id=${valmistaja.valmistajaid})}">Poista</a></td>
  		
    	</tr>
     </table>
    <div>
		<a href="/valmistajat/lisaa">Lisää valmistaja</a>
		<br>
		<a href="/vaatteet">Vaatteet</a>
		<br>
		<a href="/">Etusivu</a>
	</div>
</body>
</html>